.presentation-body {
    width: 70%;
    height: 85%;
    min-height: 45em;
    max-height: 48em;
    background-color: rgb(227, 213, 213);
    border: .2em hsla(80, 3%, 20%, 60) outset ;
    box-shadow: 0 0 15px 10px hsla(80, 3%, 10%, 60);
    margin-top: 1.5em;
    margin-bottom: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .15em;
    gap: .5em;
}

.presentation-body h2 {
    margin: 0;
}
.testing-button {
    padding: 1em;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.result-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 90%;
    height: 95%;
    max-height: 95%;
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: .5em;
}

.result-list::-webkit-scrollbar{
    width: 8px;
    max-height: 8px;
    margin-left: 20px;
}

.result-list::-webkit-scrollbar-track{
    background-color:#4d4f4f;
    border-radius: 20px;
}

.result-list::-webkit-scrollbar-thumb{
    background-color: #2f3332;
    border-radius: 20px;
}

.result-list::-webkit-scrollbar-thumb:hover{
    background: rgb(53, 48, 48);
}

.result-list::-webkit-scrollbar-corner { 
    background: rgba(0,0,0,0); 
}