.solver-body {
    min-height: 40em;
    height: 80%;
    min-width: 600px;
    width: 60%;
    background-color: rgb(227, 213, 213);
    border: .2em hsla(80, 3%, 20%, 60) outset ;
    box-shadow: 0 0 15px 10px hsla(80, 3%, 10%, 60);
    margin-top: 1.5em;
    margin-bottom: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .15em;
    gap: .5em;
}

.solver-body .radio-button-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solver-body .radio-button-group h4 {
    padding: 0;
    margin: 5 0 0 0;
}